* {
  margin: 0;
  padding-top: 0px;
  box-sizing: border-box;
}

input{
  text-align: right;
}

td{
  text-align: right;
}

th,td{
  display: table-cell;
}

.colspan7{
  text-align: right !important;
}




